<!-- start coded_template: id:5112740480 path:Custom/page/intechnic_2017/index.html --><!doctype html><html dir="ltr" lang="en" class="has-hover no-js" prefix="og: http://ogp.me/ns#"><head>
	<!-- start coded_template: id:5138179163 path:Custom/page/intechnic_2017/inc_html_head.html -->
<meta charset="utf-8">
<title>NMG IT Outsourcing Philippines | Web Development Philippines| Web Programming Philippines | Web Design Philippines | IT Outsourcing Company Philippines</title>
<meta name="description" content="NMG I.T. Outsourcing Philippines is a product and software development outsourcing company in the Philippines that aims to deliver high quality and cost effective Internet products and services. It caps the production of dynamic and interactive websites and Internet/Intranet applications, as it also renders superior and inventive services from Information Systems maintenance to offshore web staffing.">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/hs-fs/css/439788/hub_generated/template_assets/1530132568590/combined-css-e0572c2b7f9aa3cc0e526804b1eabaf0.css"><script>document.querySelector('html').className = 'has-hover js';</script>




<link rel="stylesheet" type="text/css" href="tel.css">
<!-- end coded_template: id:5138179163 path:Custom/page/intechnic_2017/inc_html_head.html -->

	
	
	
    <script src="/hs/hsstatic/jquery-libs/static-1.4/jquery/jquery-1.11.2.js"></script>
<script>hsjQuery = window['jQuery'];</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="<?php echo base_url()?>/assets/js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
    <meta property="og:description" content="Outsourcing, IT Outsourcing Philippines, IT Outsourcing, IT Outsourcing Philippines, Web Development, Web Design, Software Development">
    <meta property="og:title" content="NMG I.T. Outsourcing Philippines is a product and software development outsourcing company in the Philippines that aims to deliver high quality and cost effective Internet products and services. It caps the production of dynamic and interactive websites and Internet/Intranet applications, as it also renders superior and inventive services from Information Systems maintenance to offshore web staffing.">
    <meta name="twitter:description" content="Outsourcing, IT Outsourcing Philippines, IT Outsourcing, IT Outsourcing Philippines, Web Development, Web Design, Software Development">
    <meta name="twitter:title" content="Outsourcing, IT Outsourcing Philippines, IT Outsourcing, IT Outsourcing Philippines, Web Development, Web Design, Software Development">


    
    

    
<!--  Added by GoogleAnalytics integration -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6617892-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- /Added by GoogleAnalytics integration -->

    
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Hotjar Tracking Code for http://www.intechnic.com -->
    <script>
    (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:385450,hjsv:5};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
        
        
    <!-- Intechnic 2017 -->
    
    
<meta property="og:url" content="https://www.nmgresources.ph">
<meta name="twitter:card" content="summary">






	<!-- start coded_template: id:5267213391 path:Custom/page/intechnic_2017/inc_html_og.html -->
<!-- Facebook Like Thumbnail -->

   
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.nmgresources.ph/">
    <meta property="og:site_name" content="NMG">
    <meta property="og:image:width" content="1306">
    <meta property="og:image:height" content="806">

     



<!-- End Facebook Like Thumbnail --><!-- end coded_template: id:5267213391 path:Custom/page/intechnic_2017/inc_html_og.html -->

<meta name="generator" content="HubSpot"></head>
<body class="page-main">
<div class="container">
       <nav class ="navbar navbar-default" role= "navigation">
          <div class = "container">
             <div class ="navbar-header">
              <img src="logo.png"  height ="100px" width="30%" id="damn"class="img-responsive">
              <div class=".navbarTogglerDemo03">
              <button type ="button" class="navbar-toggle " data-toggle="collapse" data-target="#nav-collapse">

              <span class="icon-bar" ></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>  
              </button>
               </div>

      </div>
     
   </div>
 </nav>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</div>
</div>
<div id="introduction">
</div>



            <section class="screen ui-light ui-light-background">

            <img class="is-hidden--sm-down js-parallax background-free background-free--right category-background" style="width: 30%;    top: 9%;" src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=379&amp;height=580&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/category/background-s.png?noresize" alt="" width="379" height="580" data-appear-duration="0" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(100px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-100px)&quot;}">

            <img class="is-hidden--sm-down js-parallax background-free background-free--left category-background" style="width: 25%;    top: 36%;" src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=300&amp;height=649&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/category/background-w.png?noresize" alt="" width="300" height="649" data-appear-duration="0" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(100px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-100px)&quot;}">

            <img class="is-hidden--sm-down js-parallax background-free background-free--right category-background" style="width: 70.75%; top: 56.8%;" src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=798&amp;height=573&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/category/background-ux.png?noresize" alt="" width="798" height="573" data-appear-duration="0" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(100px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-100px)&quot;}">

            <img class="is-hidden--sm-down js-parallax background-free background-free--left category-background" style="width: 43.4%;  top: 82%;" src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=521&amp;height=569&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/category/background-m.png?noresize" alt="" width="521" height="569" data-appear-duration="0" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(100px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-100px)&quot;}">
        </section>

<div class="container container--categories js-accordion">

                <h2 class="category-heading category-heading--a is-hidden--md-up js-accordion-header" aria-hidden="true">
                    Qualifications
                </h2>

                <article id="strategy" class="category category--a js-accordion-content js-screen" data-ui="light">
                    <figure class="category__image js-video-autoplay">
                        <img class="print-only" src="https://www.intechnic.com/hubfs/intechnic_2017/assets/videos/strategy/strategy.jpg?noresize&amp;t=1530306663703" alt="">
                        <video class="no-print" playsinline loop preload="auto" poster="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/strategy/strategy.jpg?noresize&amp;t=1530306663703">
                            <source src="nmg4.webm" type="video/mp4">
                            <source src="nmg4.webm" type="video/webm">
                            <source src="nmg4.webm" type="video/ogg">
                        </video>
                    </figure>

                    <ul class="category__features js-parallax" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(-50px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(50px)&quot;}">

                        <li><span class="icon icon-service icon-service--1"></span> <small></small></li>
                        <li><span class="icon icon-service icon-service--2"></span> <small>Application Programming</small></li>
                        <li><span class="icon icon-service icon-service--3"></span> <small>Servers</small></li>
                        <li><span class="icon icon-service icon-service--4"></span> <small>Multimedia</small></li>
                        <li><span class="icon icon-service icon-service--5"></span> <small>Web Frameworks/CMS</small></li>
                        <li><span class="icon icon-service icon-service--6"></span> <small>Shopping Carts</small></li>
                        <li><span class="icon icon-service icon-service--7"></span> <small>SEM</small></li>
                        <li><span class="icon icon-service icon-service--7"></span> <small>Payment Gateways</small></li>
                        <li><span class="icon icon-service icon-service--7"></span> <small>Other Outsourced Services</small></li>
                    </ul>

                    <div class="category__text">
                        <h2 class="js-parallax js-appear is-hidden--sm-down" data-appear-property="" data-appear-margin="-300" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(-50px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(50px)&quot;}">

                            Qualifications
                        </h2>

                        <p>
                            When it comes to the success of your website, app or software, strategy is everything. It’s the foundation for your success. It’s do or die.
                        </p>
                        <p>
                            We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind, unique strategy that is designed to help you win.
                        </p>

                        <div class="block-lg no-print">
                            <video src="nmg4.webm" type="video/webm"></video>
                        </div>
                    </div>
                </article>

                <h2 class="category-heading category-heading--c is-hidden--md-up js-accordion-header" aria-hidden="true">
                    Case Studies
                </h2>

                <article id="user-experience" class="category category--c js-accordion-content js-screen" data-ui="light">
                    <figure class="category__image js-video-autoplay">
                        <img class="print-only" src="https://www.intechnic.com/hubfs/intechnic_2017/assets/videos/ux/ux.jpg?noresize&amp;t=1530306663703" alt="">
                        <video class="no-print" playsinline loop preload="auto" poster="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/ux/ux.jpg?noresize&amp;t=1530306663703">
                            <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/ux/ux.mp4?t=1530306663703" type="video/mp4">
                            <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/ux/ux.webm?t=1530306663703" type="video/webm">
                            <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/ux/ux.ogv?t=1530306663703" type="video/ogg">
                        </video>
                    </figure>

                <ul class="category__features js-parallax" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(-50px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(50px)&quot;}">

                        <li><span class="icon icon-service icon-service--15"></span> <small>Enterprise Resource Planning System for a World Wide Jewelery Distributor</small></li>
                        <li><span class="icon icon-service icon-service--16"></span> <small>E-Commerce Solution for Online Movie Reseller</small></li>
                        <li><span class="icon icon-service icon-service--17"></span> <small>A Danish Auction Website</small></li>
                        <li><span class="icon icon-service icon-service--18"></span> <small>Auction and Catalog Management for Denmark's Largest Auction Website</small></li>
                        <li><span class="icon icon-service icon-service--19"></span> <small>Staff Outsourcing / Resource Augmentation</small></li>
                    </ul>

                    <div class="category__text">
                        <h2 class="js-parallax js-appear is-hidden--sm-down" data-appear-property="" data-appear-margin="-300" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(-50px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(50px)&quot;}">

                            Case Studies
                        </h2>

                        <p>
                            Most websites, apps and software are built for stakeholders, without users in mind. The resulting experiences fail because they are not user-centric.
                        </p>
                        <p>
                            User experience (UX) design takes opinions and guesswork out of the equation. We apply research to give your customers what they actually want.
                        </p>

                        <div class="block-lg no-print">
                            <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-06a5a8ca-e5e6-4d50-bf53-19cb8c35a2da"><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(439788, '06a5a8ca-e5e6-4d50-bf53-19cb8c35a2da', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                        </div>
                    </div>
                </article>

                <h2 class="category-heading category-heading--b is-hidden--md-up js-accordion-header" aria-hidden="true">
                    Job Opportunities
                </h2>

                <article id="web-design" class="category category--reverse category--b js-accordion-content js-screen" data-ui="light">
                    <figure class="category__image js-video-autoplay">
                        <img class="print-only" src="https://www.intechnic.com/hubfs/intechnic_2017/assets/videos/web-design/web-design.jpg?noresize&amp;t=1530306663703" alt="">
                        <video class="no-print" playsinline loop preload="auto" poster="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/web-design/web-design.jpg?noresize&amp;t=1530306663703">
                            <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/web-design/web-design.mp4?t=1530306663703" type="video/mp4">
                            <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/web-design/web-design.webm?t=1530306663703" type="video/webm">
                            <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/videos/web-design/web-design.ogv?t=1530306663703" type="video/ogg">
                        </video>
                    </figure>

                    <ul class="category__features js-parallax" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(-50px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(50px)&quot;}">

                        <li><span class="icon icon-service icon-service--8"></span> <small>Full Time .Net Developer</small></li>
                        <li><span class="icon icon-service icon-service--9"></span> <small>Full Time PHP Programmers</small></li>
                        <li><span class="icon icon-service icon-service--10"></span> <small>Call Center Agents</small></li>
                        <li><span class="icon icon-service icon-service--11"></span> <small>UX Designers</small></li>
                        <li><span class="icon icon-service icon-service--12"></span> <small>Mobile Developers</small></li>
                        <li><span class="icon icon-service icon-service--13"></span> <small>IT Project Managers</small></li>
                        
                    </ul>

                    <div class="category__text">
                        <h2 class="js-parallax js-appear is-hidden--sm-down" data-appear-property="" data-appear-margin="-300" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(-50px)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(50px)&quot;}">

                            Web Design
                        </h2>

                        <p>
                            You need more than just a website. You need results.<br> We turn underperforming websites around.
                        </p>
                        <p>
                            We have the business acumen, creativity, and experience to solve any problem and deliver results.
                        </p>
                    <div class="block-lg no-print">
                            <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-281ea9ce-d247-46dc-b95a-90cfa0e28af7"><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(439788, '281ea9ce-d247-46dc-b95a-90cfa0e28af7', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                        </div>
                    </div>
                </article>
                <!-- ROI content section -->
        <section class="screen ui-dark ui-dark-background js-projects" data-ui="dark" id="results">
            <div class="container container--inner">

                <h2 class="text--h2-large">
                    <span class="text--color-a">We Deliver</span><br> <span>ROI</span>
                    <span class="text--h2-subheading">Results on<br> Internet<sup>®</sup></span>
                </h2>

                <ul class="projects">
                    <!-- Line 1 -->
                    <li class="project project-large project--top ui-dark-background js-project"><div class="project__content">
                        <div class="project__background project__background--type1">
                            <img class="js-parallax" src="https://www.intechnic.com/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/projects/insurance-background.jpg?noresize" alt="92% customer satisfaction rating for an insurance provider’s website" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(20%)&quot;}" data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-20%)&quot;}">
                        </div>
            </section>
            <section class="screen ui-light ui-light-background" data-ui="light" id="about">
            <div class="container container--inner">

                <h2 class="text--h2-large">
                    We Are<br class="no-print"> <span class="text--color-a">NMG</span>
                    <a class="btn btn--line btn--rounded btn--square btn--lgxl audio-button js-play-button"><span class="icon icon-play"></span></a>
                </h2>

                <audio class="js-play-audio is-out-of-screen">
                    <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/audio/intechnic.ogg?t=1530306663703">
                    <source src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/audio/intechnic.mp3?t=1530306663703">
                </audio>

                <div class="row row--pad block-xl">
                    <div class="col col--md-5 col--lg-3 col--xl-1 is-hidden--sm-down">

                        <nav class="nav-about js-about-navigation">
                            <ol>
                                <li><a href="/#about-about">About</a></li>
                                <li><a href="/#about-expertise">Expertise</a></li>
                                <li><a href="/#about-people">People</a></li>
                            </ol>
                        </nav>

                    </div>
                    <div class="col col--xs-12 col--md-7 col--lg-9 col--xl-10 js-accordion">

                        <h3 class="about-section-heading is-hidden--md-up js-accordion-header">About</h3>

                        <article class="row about-section js-accordion-content" id="about-about">
                            <div class="col col--xs-12 col--lg-auto">
                                <div class="about-section__wrapper">
                                    <p>Founded in 2006, NMG I.T. Outsourcing Philippines is a Danish and Filipino owned product and software development outsourcing company that aims to deliver high quality and cost effective Internet products and services.</p><p>It caps the production of dynamic and interactive websites and Internet/Intranet applications, as it also renders superior and inventive services from Information Systems maintenance to offshore web staffing.</p>
                                </div>
                            </div>
                            <div class="col col--xs-12 col--lg-auto about-achievements">
                                <p>
                                    <span class="h3 text--color-a text--heading js-countup" data-countup="{&quot;end&quot;: 20, &quot;suffix&quot;: &quot;+&quot;}">20+</span>
                                    <small>Years in Business</small>
                                </p>
                                <p>
                                    <span class="h3 text--color-a text--heading js-countup" data-countup="{&quot;end&quot;: 1150, &quot;suffix&quot;: &quot;+&quot;}">1,150+</span>
                                    <small>Completed Projects</small>
                                </p>
                                <p>
                                    <span class="h3 text--color-a text--heading js-countup-user">613,000,000</span>
                                    <small>Happy User Experiences</small>
                                </p>
                            </div>
                        </article>
                        <div class="col col--xs-12 col--lg-auto about-process">
                                <p>
                                    <a href="/#strategy" class="btn btn--solid btn--solid--a btn--xl btn--square btn--rounded">
                                        <span class="icon icon-process"></span>
                                    </a>

                                    <small>Qualifications</small>
                                </p>
                                <p>
                                    <a href="/#user-experience" class="btn btn--solid btn--solid--c btn--xl btn--square btn--rounded">
                                        <span class="icon icon-process icon-process--ux"></span>
                                    </a>

                                    <small>QS</small>
                                </p>
                                <p>
                                    <a href="/#web-design" class="btn btn--solid btn--solid--b btn--xl btn--square btn--rounded">
                                        <span class="icon icon-process icon-process--design"></span>
                                    </a>

                                    <small>Case Studies</small>
                                </p>
                                <h3 class="about-section-heading is-hidden--md-up js-accordion-header">Expertise</h3>

                        <article class="row about-section js-accordion-content" id="about-expertise">
                            <div class="col col--xs-12 col--lg-auto">
                                <div class="about-section__wrapper">
                                    <p>We don’t like to brag, but we are not shy about what’s on our resume:</p>
                                    <ul class="checked-list red">
                                        <li>20+ Years of Experience</li> 
                                        <li>Fortune 500 Client List</li>
                                        <li>Clients in 30+ Countries</li> 
                                        <li>20+ Leading Industry Awards</li>
                                        <li>Recognized Leaders in User Experience</li>
                                        <li>Members of Forbes Technology Council</li>
                                        <li>Published Authors &amp; Columnists</li>
                                        <li>HubSpot™ Certified Partner</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col--xs-12 col--lg-auto about-expertise">
                                
                                <p>
                                    <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/about/logo_the_webby_award.png?noresize&amp;t=1530306663703&amp;width=124&amp;height=83&amp;name=logo_the_webby_award.png" width="124" height="83" alt="The Webby Award" class="no-print-">
                                </p>
                                <p>
                                    <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/about/logo_horizon_interactive_awards.png?noresize&amp;t=1530306663703&amp;width=146&amp;height=62&amp;name=logo_horizon_interactive_awards.png" width="146" height="62" alt="Horizon Interactive Awards" class="no-print-">
                                </p>
                                <p>
                                    <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/about/logo_davey_award.png?noresize&amp;t=1530306663703&amp;width=99&amp;height=72&amp;name=logo_davey_award.png" width="99" height="72" alt="Davey Award" class="no-print-">
                                </p>
                                <p>
                                    <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/about/logo_the_communicator_awards.png?noresize&amp;t=1530306663703&amp;width=154&amp;height=63&amp;name=logo_the_communicator_awards.png" width="154" height="63" alt="The Communicator Awards" class="no-print-">
                                </p>
                                <p>
                                    <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/about/logo_internet_advertising_competition.png?noresize&amp;t=1530306663703&amp;width=139&amp;height=76&amp;name=logo_internet_advertising_competition.png" width="139" height="76" alt="Internet Advertising Competition" class="no-print-">
                                </p>
                                <p>
                                    <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/about/logo_winner_outstanding_achievement.png?noresize&amp;t=1530306663703&amp;width=94&amp;height=67&amp;name=logo_winner_outstanding_achievement.png" width="94" height="67" alt="Winner Outstanding Achievement" class="no-print-">
                                </p>
                                        
                            </div>
                        </article>


                        <h3 class="about-section-heading is-hidden--md-up js-accordion-header">People</h3>

                        <article class="about-section js-accordion-content" id="about-people">
                            <p>
                                Meet our leadership team:
                            </p>

                            <div class="row row--pad-small about-values block-xl" style="margin-top: 40px" itemscope itemtype="http://schema.org/Organization">
                                <div class="is-hidden">
                                    <span itemprop="name">NMG IT Outsourcing Corp.</span>
                                </div>
<div class="col col--xs-6 is-hidden--lg-up about-values__spacer"></div>
                                <div class="col col--xs-6 is-hidden--lg-up about-values__spacer"></div>

                                <div class="col col--xs-6 col--lg-4">
                                    <figure target="_blank" class="about-values__tile js-values-tile" itemprop="founder" itemscope itemtype="http://schema.org/Person">
                                        <a href="//www.intechnic.com/blog/author/andrew-kucheriavy" target="_blank" class="link">
                                            <!--##<img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" width="170" height="170" alt="Andrew Kucheriavy" class="is-hidden--xl" />##-->
                                            <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=170&amp;height=170&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Andrew Kucheriavy" width="170" height="170">
                                            <figcaption>
                                                <span itemprop="name">Andrew Kucheriavy</span>
                                                <span itemprop="jobTitle"><i>CEO/Founder</i></span>
                                            </figcaption>
                                        </a>    
                                    </figure>
                                </div>
                                <div class="col col--xs-6 col--lg-4">
                                    <figure class="about-values__tile js-values-tile" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                                        <a href="//www.intechnic.com/blog/author/kristina-guzikova" target="_blank" class="link">
                                            <!--##<img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-5.jpg?noresize" width="170" height="170" alt="Kristina Guzikova" class="is-hidden--xl" />##-->
                                            <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=170&amp;height=170&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-5.jpg?noresize" alt="Kristina Guzikova" width="170" height="170">
                                            <figcaption>
                                                <span itemprop="name">Kristina Guzikova</span>
                                                <span itemprop="jobTitle"><i>Creative Project Manager</i></span>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col col--xs-6 col--lg-4">
                                    <figure class="about-values__tile js-values-tile" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                                        <a href="//www.intechnic.com/blog/author/dmitry-andrejev" target="_blank" class="link">
                                            <!--##<img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-3.jpg?noresize" width="170" height="170" alt="Dmitry Andrejev" class="is-hidden--xl" />##-->
                                            <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=170&amp;height=170&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-3.jpg?noresize" alt="Dmitry Andrejev" width="170" height="170">
                                            <figcaption>
                                                <span itemprop="name">Dmitry Andrejev</span>
                                                <span itemprop="jobTitle"><i>VP of Development</i></span>
                                            </figcaption>
                                        </a>    
                                    </figure>
                                </div>

                                <div class="col col--lg-4 is-hidden--md-down"></div>

                                <div class="col col--xs-6 col--lg-4">
                                    <figure target="_blank" class="about-values__tile js-values-tile" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                                        <a href="//www.intechnic.com/blog/author/sloane-moore" target="_blank" class="link">
                                            <!--##<img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-4.jpg?noresize" width="170" height="170" alt="Sloane Moore" class="is-hidden--xl" />##-->
                                            <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=170&amp;height=170&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-4.jpg?noresize" alt="Sloane Moore" width="170" height="170">
                                            <figcaption>
                                                <span itemprop="name">Sloane Moore</span>
                                                <span itemprop="jobTitle"><i>Marketing Manager</i></span>
                                            </figcaption>
                                        </a>    
                                    </figure>
                                </div>

                                <div class="col col--xs-6 col--lg-4"></div>
                                <div class="col col--xs-6 is-hidden--lg-up"></div>

                                <div class="col col--xs-6 col--lg-4">
                                    <figure class="about-values__tile js-values-tile" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                                        <a href="//www.intechnic.com/blog/author/sasha-berson" target="_blank" class="link">
                                            <!--##<img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-2.jpg?noresize" width="170" height="170" alt="Sasha Berson" class="is-hidden--xl" />##-->
                                            <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=170&amp;height=170&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-2.jpg?noresize" alt="Sasha Berson" width="170" height="170">
                                            <figcaption>
                                                <span itemprop="name">Sasha Berson</span>
                                                <span itemprop="jobTitle"><i>President</i></span>
                                            </figcaption>
                                        </a>    
                                    </figure>
                                </div>

                                <div class="col col--lg-4 is-hidden--md-down"></div>

                                <div class="col col--xs-6 col--lg-4">
                                    <figure class="about-values__tile js-values-tile" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                                        <a href="//www.intechnic.com/blog/author/safa-khudeira" target="_blank" class="link">
                                            <!--##<img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-6.jpg?noresize" width="170" height="170" alt="Safa Khudeira" class="is-hidden--xl" />##-->
                                            <img src="https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/px.gif?noresize&amp;t=1530306663703&amp;width=170&amp;height=170&amp;name=px.gif" data-src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-6.jpg?noresize" alt="Safa Khudeira" width="170" height="170">
                                            <figcaption>
                                                <span itemprop="name">Safa Khudeira</span>
                                                <span itemprop="jobTitle"><i>Creative Project Manager</i></span>
                                            </figcaption>
                                        </a>    
                                    </figure>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col is-hidden--lg-down col--xl-1"></div>
                </div>

            </div>
        </section>

        <!-- Contact form content section -->
        <section class="screen ui-light ui-gray-background" data-ui="light" id="contact">
            <div class="container container--form contact js-contact-form">

                <h2 class="text--h2-large">
                    Start Getting<br> <span class="text--color-a">Results</span>
                    <span class="h3 contact__text is-hidden--sm-down">+1 855 WWW-PROS</span>
                </h2>

                <p class="text--heading h3 contact__text text--right--md-up is-hidden--md-up">+1 855 WWW-PROS</p>

                <div id="contact-us-form">
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            css: '',
                            portalId: '439788',
                            formId: '6bad0f7c-7ea4-4f97-9f2d-e11095e2998b'
                        });
                    </script>
                </div>

            </div>
        </section>
        <footer class="screen screen--bottom--md-up ui-dark ui-dark-background footer" data-ui="dark" id="footer">
    <div class="container container--footer">

        <div class="map is-hidden--sm-down">
            <div class="map__inner js-map">
                <img src="nmg7.jpg&amp;width=840&amp;height=412&amp;name=map.jpg" alt="" width="840" height="412" class="is-hidden--xl" srcset="nmg7.jpg&amp;width=420&amp;height=206&amp;name=map.jpg 420w, nmg7.jpg&amp;width=840&amp;height=412&amp;name=map.jpg 840w, nmg7.jpg&amp;width=1260&amp;height=618&amp;name=map.jpg 1260w, nmg7.jpg&amp;width=1680&amp;height=824&amp;name=map.jpg 1680w, nmg7.jpg&amp;width=2100&amp;height=1030&amp;name=map.jpg 2100w, nmg7.jpg&amp;width=2520&amp;height=1236&amp;name=map.jpg 2520w" sizes="(max-width: 840px) 100vw, 840px">
                <img src="nmg7.jpg&amp;width=1680&amp;height=824&amp;name=map-xl.jpg" alt="" width="1680" height="824" class="is-hidden--lg-down" srcset="nmg7.jpg&amp;width=840&amp;height=412&amp;name=map-xl.jpg 840w, nmg7.jpg&amp;width=1680&amp;height=824&amp;name=map-xl.jpg 1680w,nmg7.jpg&amp;width=2520&amp;height=1236&amp;name=map-xl.jpg 2520w,nmg7.jpg&amp;width=3360&amp;height=1648&amp;name=map-xl.jpg 3360w,nmg7.jpg&amp;width=4200&amp;height=2060&amp;name=map-xl.jpg 4200w,nmg7.jpg&amp;width=5040&amp;height=2472&amp;name=map-xl.jpg 5040w" sizes="(max-width: 1680px) 100vw, 1680px">

                <div class="js-map-marker map__marker is-active" style="left: 22.5%; top: 41.9%;"></div>
                <div class="js-map-marker map__marker" style="left: 13.9%; top: 45.0%;"></div>
                <div class="js-map-marker map__marker" style="left: 24.6%; top: 39.3%;"></div>
                <div class="js-map-marker map__marker" style="left: 46.9%; top: 33.0%;"></div>
                <div class="js-map-marker map__marker" style="left: 87.3%; top: 87.6%;"></div>
            </div>
        </div>
           <div class="footer__address" itemscope itemtype="http://schema.org/Organization">
            <div class="is-hidden">
                <span itemprop="name">NMG IT Outsourcing Corp.</span>
            </div>

            <ul class="js-accordion">
                <li itemprop="location" itemscope itemtype="http://schema.org/Place" class="js-map-text is-active">
                    <h3 itemprop="name" class="js-accordion-header">Chicago</h3>
                    <div class="js-accordion-content">
                        <div class="footer__address__content">
                            <p>
                                <a href="tel:+1%20(847)%20970-6190" itemprop="telephone">+1 (847) 970-6190</a>
                            </p>
                            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">
                                    Civic Opera Building<br>
                                    20 N Wacker Dr., Suite 1200
                                </span><br>
                                <span itemprop="addressLocality">Chicago</span>, <span itemprop="addressRegion">IL</span> <span itemprop="postalCode">60606</span>
                            </p>
                        </div>
                    </div>
                </li>
                 <li itemprop="location" itemscope itemtype="http://schema.org/Place" class="js-map-text">
                    <h3 itemprop="name" class="js-accordion-header">Los Angeles</h3>
                    <div class="js-accordion-content">
                        <div class="footer__address__content">
                            <p>
                                <a href="tel:+1%20(213)%20816-0900" itemprop="telephone">+632.846.43.44 / +632.964.89.11</a>
                            </p>
                            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">2500 Broadway</span><br>
                                Building F, Suite F-125<br>
                                <span itemprop="addressLocality">Santa Monica</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">90404</span>
                                <span class="is-hidden" itemprop="addressCountry">US</span>
                            </p>
                        </div>
                    </div>
                </li>
                <div class="footer__content">
            <div class="btn-group footer__content__social">
                <a class="btn btn--no-padding" target="_blank" rel="noopener" href="https://www.facebook.com/intechnic">
                    <span class="icon icon-social icon-social--facebook"></span>
                </a>
                <a class="btn btn--no-padding" target="_blank" rel="noopener" href="https://twitter.com/intechnic">
                    <span class="icon icon-social icon-social--twitter"></span>
                </a>
                <a class="btn btn--no-padding" target="_blank" rel="noopener" href="https://www.linkedin.com/company/intechnic-corporation">
                    <span class="icon icon-social icon-social--linkedin"></span>
                </a>
                <a class="btn btn--no-padding" target="_blank" rel="noopener" href="https://plus.google.com/+Intechnic">
                    <span class="icon icon-social icon-social--google"></span>
                </a>
            </div>
            <p>
                <a href="//www.intechnic.com/terms-and-conditions">Terms and Conditions</a> &nbsp; | &nbsp; <a href="//www.nmgresources.ph/privacy-policy">Privacy Policy</a>
            </p>
            <p class="footer__content__nav">
                © Copyright 2009 NMG I.T. Outsourcing Corp. All rights reserved<br>
                Site Last Updated: January 11, 2010
            </p>
        </div>

    </div>
</footer><!-- end coded_template: id:5165889123 path:Custom/page/intechnic_2017/inc_section_footer.html -->


    </div>

    <!-- start coded_template: id:5138526895 path:Custom/page/intechnic_2017/inc_navigation_main.html -->
<!-- Main navigation -->

<!-- end coded_template: id:5138526895 path:Custom/page/intechnic_2017/inc_navigation_main.html -->


    <!-- Right side navigation -->
    <nav class="nav-aside ui-dark ui-1 js-navigation-links js-apply-ui is-hidden--sm-down">
        <div class="nav-aside__content">
            <a href="/#top" title="To the top"></a>
            <a href="/#strategy" title="Home"></a>
            <a href="/#user-experience" title="Qualifications"></a>
            <a href="/#web-design" title="Case Studies"></a>
            <a href="/#marketing" title="Job Opportunities"></a>
            <a href="/#about" title="About Us"></a>
            <a href="/#contact" title="Contact Us"></a>
            <a href="/#footer" title=""></a>
        </div>
    </nav>

    <!-- Scroll to top / scroll down navigation -->
    <nav class="nav-scroll ui-dark ui-1 is-hidden--sm-up">
        <a class="nav-scroll__link nav-scroll__link--down" href="#strategy">
            <span class="icon icon-arrow-down"></span>
        </a>
    </nav>

    <nav class="nav-scroll ui-dark ui-1 js-apply-ui is-hidden--sm-down">
        <a class="nav-scroll__link nav-scroll__link--down" href="#strategy">
            <span class="nav-scroll__link__text">Scroll down</span>
            <span class="icon icon-arrow-down"></span>
        </a>
        <a class="nav-scroll__link nav-scroll__link--up" href="#top">
            <span class="nav-scroll__link__text">To the top</span>
            <span class="icon icon-arrow-up"></span>
        </a>
    </nav>

</main>

<div class="fixed-position-detection-fix"></div>


<!-- start coded_template: id:5138475002 path:Custom/page/intechnic_2017/inc_footer.html -->
<!-- JS -->
<script src="https://www.intechnic.com/hs-fs/hub/439788/hub_generated/template_assets/1495012585628/custom/page/intechnic_2017/jquery.min.js"></script>
<script src="https://www.intechnic.com/hs-fs/hub/439788/hub_generated/template_assets/1505895255903/custom/page/intechnic_2017/shared.js"></script>
<script src="https://www.intechnic.com/hs-fs/hub/439788/hub_generated/template_assets/1505895194089/custom/page/intechnic_2017/main.js"></script>


<script type="text/javascript" src="/hs/hsstatic/content_shared_assets/static-1.4077/js/public_common.js"></script>
<script>
(function () {
    window.addEventListener('load', function () {
        setTimeout(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/_hcms/perf', true /*async*/);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function () {
                // do nothing.
            };
            var connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection;
            function populateNetworkInfo(name, connection, info) {
                if (name in connection) {
                    info[name] = connection[name];
                }
            }
            var networkInfo = {};
            if (connection) {
                ['type', 'effectiveType', 'downlink', 'rtt'].forEach(function(name) {
                    populateNetworkInfo(name, connection, networkInfo);
                });
            }
            var perfData = {
                url: location.href,
                portal: 439788,
                content: 5238252765,
                group: -1,
                connection: networkInfo,
                timing: performance.timing
            };
            xhr.send(JSON.stringify(perfData));
        }, 3000);  // Execute this 3 seconds after onload.
    });
})();
</script>


<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "landing-page"]);
_hsq.push(["setCanonicalUrl", "https:\/\/www.intechnic.com"]);
_hsq.push(["setPageId", "5238252765"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": 5238252765,
    "legacyPageId": "5238252765",
    "contentFolderId": null,
    "contentGroupId": null,
    "abTestId": null,
    "languageVariantId": 5238252765,
    "languageCode": null
}]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/439788.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    ticks: 1531123458804,
    page_id: 5238252765,
    content_group_id: 0,
    portal_id: 439788,
    app_hs_base_url: "https://app.hubspot.com",
    language: "en",
    analytics_page_type: "landing-page",
    category_id: 1,
    folder_id: 0
}
</script>





<!-- end coded_template: id:5138475002 path:Custom/page/intechnic_2017/inc_footer.html -->

<script src="https://www.intechnic.com/hs-fs/hub/439788/hub_generated/template_assets/1505895194089/custom/page/intechnic_2017/main.js"></script>



<!-- end coded_template: id:5112740480 path:Custom/page/intechnic_2017/index.html -->
</body></html>