#aboutus {
    height: 675px;
    padding: 0px;
    background-color: #b1e#940;
    position: relative; 
    display: flex;
}
.col-lg-5{
	padding-left: 0;
	padding-right: 0;
}

.big {
	font-size: 70px;
	padding-top: 80px;
	color:black;
	float:left;
	font-family:;
	padding-bottom: 65px;
	font-weight: bold;
}
.small{
	padding-top:100px;
	padding-left: 30px;
	font-size:17px;
	text-align: justify;
	color:#5a5b5b;
	float:right;
	font-family: "PT Sans Narrow","Open Sans","Arial",sans-serif;
	font-weight: normal;
	padding-bottom: 3px;

}

