#aboutus {
	height: 675px;
	padding: 0px;
	background-color: #a3c2c2;   
	height: 500px;
}
.col-lg-5{
	padding-left: 0;
	padding-right: 0;
}
.col-lg-7{
	text-rendering: optimizeLegibility;
}
.big {
	margin-top: 50px;
	font-size: 70px;
	padding-top: 80px;
	color:black;
	float:left;
	font-family:;
	font-weight: bold;
}

.collapse{
	padding-left: 30px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: justify;
	color:#5a5b5b;
	float: right;
	font-family:Raleway, sans-serif;
	font-weight: normal;
	padding-bottom: 3px;
	color: black;
}

.grid-container {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	padding: 10px;

}
.grid-container > div {
	border-radius: 20px;
	height: 250px;
	text-align: center;
	font-size: 15px;
	background-color: white;
	margin-top: 50px;
}
.item2 {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.grid-item2
{
	padding-top:40px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: justify;
	color:#5a5b5b;
	float:right;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	padding-bottom: 3px; 
	color: black;
}
@media screen and (min-width: 640px) {
	article {
		max-height: 12em;
	}
}

