body{
	font-family: 'Raleway', sans-serif;
}
h1{
    font-weight: 700;
    position: relative;
   
}
.contact-us{
  margin-left: 105px;
  margin-top: 70px;
}
.mapouter{
  float: right;
  width: 500px;
}
.mapouter{
  text-align:right;
  height:385px;
  width:600px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:385px;
  width:600px;
}
.name {
  width: 65%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 7px;
}
 .email {
  width: 65%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 7px;
}
.option {
  width: 65%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 7px;;
}
textarea {
  width: 65%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 7px;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #6CA4A4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 97px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}