body{
	font-family: 'Raleway', sans-serif;
}
h1
{
 font-size:45px; 
}
.mapouter
{
  float: right;
  width: 500px;
}
.name
{
  width: 65%;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}
.email
{
  width: 65%;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}
.option
{
  margin-bottom: 15px;
  width: 65%;
  background-color: #f5f5f5;
}
textarea
{
  width: 65%;
  height: 500%;
  background-color: #f5f5f5;
}
.btna btn-primary btn-login
{
  margin-top: 15px;
}
h1
{
  font-family: 'Raleway', sans-serif;
}