body{
	font-family: 'Raleway', sans-serif;
}
#about{
    margin-top: 158px;
}
#myVideo {
    background-color:#000;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.logo {
    height: 62px;
    width: 64px;
    margin-top: 0px;
    margin-left: 29px;
}
.logo-1 {
    height: 110px;
    width: 116px;
    margin-top: 20px;
    margin-left: 460px
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
}
.text-copy {
  width: 1000px;
  position: relative;
  top: 5%;
  left: 5%;
  z-index: 2;
  text-shadow: 1px 1px 1px #000;
  margin-left: 36px;
}
.navbar{
	border:0px;
	background-color: transparent;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    transition: background .35s ease;
    cursor: pointer;
    margin-left:0;
    padding-left: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 90px;
}
.navbar-header{
    margin: 5px 0px 10px 20px;
}
.navbar-collapse{
	float: right;
    margin: 15px 0px 20px 0px;
}
.navbar.scrolled{
    background: #000;

}

.navbar-default .navbar-nav>li>a {
	font-family:  Montserrat, "Open Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3.5px;
	color: white;
}
.navbar-toggle .icon-bar{
  width:25px;
  height:5px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-nav>li>a:hover{
	color: skyblue;
	font-size: 20px;
	font-family: 'proxima-nova', monospace;
	letter-spacing: 1.5px;
	font-weight: 500;
}

.welcome-message{
	height: 150px;
    width: 500px;
    font-family: 'TimesNewRoman', sans-serif;
    color: #3199dc;
    margin-top: 1px;
    margin-left: 661px;
}
.welcome{
	font-weight: 300 !important;
   	font-size: 31px;
   	padding-left:23px;
	color:  white;
	letter-spacing: 7.5px;
	margin-top: 141px;
    margin-left: 5px;
}
.testimonials{
	display: none;
	font-size: 35px;
}
.quotations{
	margin: 0px -232px 20px;
	width: 100px;
	font-size: 25px;
	letter-spacing:5.5px;
}
.nmg{
	font-size:90px;
	letter-spacing: -2.5px;
	font-weight: 900;
    text-shadow: 0em 0em 1em #000;
    font-family: Arial;
    color: #59c5f0;
    height: 43px;
    margin-top: 42px;
    width: 250px;
}
.resources{
    font-weight: bold !important;
    font-size: 45px;
    padding-left: 7px;
    color: lavenderblush;
    letter-spacing: 2.5px;
    text-shadow: 0em 0em 1em #00bcd400;
    font-family: 'EB Garamond', serif;
    margin-top: 0px;
    margin-left: 253px;
    height: 49px;
    width: 600px;;
}
.exp{
    font-size: 30px;
    letter-spacing: 4.5px;
    height: 31px;
    margin-top: 5px;
    font-family: 'Lobster', cursive;
    margin-left: 348px;
    width: 600px;
    color: dodgerblue;
}
.arrow-down{
	margin-bottom: 20px;
}
#down-to-scroll {
    position: fixed;
    color: white;
    margin-top: 213px;
    margin-left: 197px;
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#down-to-scroll a {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 0px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#down-to-scroll:hover a {
    color: #fff;
    top: 5px;
}

#return-to-top {
    position: fixed;
    color: white;
    margin-top: 213px;
    margin-left: 197px;
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top a {
    color: #000;
    margin: 0;
    position: relative;
    left: 15px;
    top: 0px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover a {
    color: #fff;
    bottom: 5px;
}
.footer{
    background-color: #000;
    color: #FFF;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}
#scroll-down{
    position: fixed;
    height: 80px;
    width: 140px;
    font-size: 10px;
    margin-top: 90px;
    margin-left: 1074px;
    transform: rotate(90deg);
}
#scroll-up{
    position: fixed;
    width: 300px;
    font-size: 10px;
    margin-top: 197px;
    margin-left: 1022px;
    transform: rotate(90deg);
    cursor: pointer
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 44px;
    width: 995px;
    border: 0;
    border-top: 1px solid #eee;
}

@media screen and (max-width:375px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	
    #myVideo {
        background-color:#000;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 600px; 
    }
	.resources {
        font-weight: bold !important;
        font-size: 21px;
        color: lavenderblush;
        letter-spacing: 2.5px;
        text-shadow: 0em 0em 1em #00bcd400;
        font-family: 'EB Garamond', serif;
        margin-top: 37px;
        margin-left: 18px;
        height: 49px;
        width: 600px;
    }
    .welcome {
        font-weight: 300 !important;
        font-size: 31px;
        color: white;
        letter-spacing: 7.5px;
        margin-top: 141px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .text-copy {
        width: 1000px;
        margin-left: 0px;
        position: relative;
        top: 5%;
        z-index: 2;
        text-shadow: 1px 1px 1px #000;
    }
    .logo-1 {
        height: 110px;
        width: 116px;
        margin-top: 45px;
        margin-left: 95px;
    }
    .exp {
        font-size: 19px;
        letter-spacing: 4.5px;
        height: 31px;
        margin-top: 0px;
        font-family: 'Lobster', cursive;
        margin-left: 29px;
        width: 600px;
        color: dodgerblue;
    }
}