body{
	font-family: 'Raleway', sans-serif;
}

#landingpage{
	background: url('../img/onese.jpg');
	background-attachment: fixed ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    padding: 0px;
    width:99.9%;
}
.logo{
 	height:60px;
 	width:48%;
 }
.overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 680px;
}
.navbar{
	border:0px;
	background-color: transparent;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    transition: background .35s ease;
    cursor: pointer;
    margin-left:0;
    padding-left: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 15px;
    height: 100px;
}
.navbar-header{
    margin: 5px 0px 10px 20px;
}
.navbar-collapse{
	float: right;
    margin: 15px 0px 20px 0px;
}
.navbar.scrolled{
    background: rgba(0,0,0,.91);

}

.navbar-default .navbar-nav>li>a {
	font-family:  Montserrat, "Open Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3.5px;
	color: white;
}
.navbar-toggle .icon-bar{
  width:25px;
  height:5px;
}
.container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-nav>li>a:hover{
	color: skyblue;
	font-size: 20px;
	font-family: 'proxima-nova', monospace;
	letter-spacing: 1.5px;
	font-weight: 500;
}
.welcome-message{
	height: 150px;
    width: 500px;
    font-family: 'TimesNewRoman', sans-serif;
    color: #3199dc;
    margin-top: 1px;
    margin-left: 661px;
}
.welcome{
	font-weight: 300 !important;
   	font-size: 31px;
   	padding-left:23px;
	color:  white;
	letter-spacing: 7.5px;
	margin-top: 230px;
    margin-left: 5px;
}
.testimonials{
	display: none;
	font-size: 35px;
}
.quotations{
	margin: 0px -303px 20px;
	width: 100px;
	font-size: 25px;
	letter-spacing:5.5px;
}

.nmg{
	font-size:90px;
	letter-spacing: 6.5px;
	font-weight: 900;
}
.exp{
	font-size: 25px;
	letter-spacing:5.5px;
}
.arrow-down{
	margin-bottom: 20px;
}
#down-to-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#down-to-scroll i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 0px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#down-to-scroll:hover {
    background: rgba(0, 0, 0, 0.9);
}
#down-to-scroll:hover i {
    color: #fff;
    top: 5px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    /* background: rgba(0, 0, 0, 0.7); */
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 0px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #03A9F4;
}
#return-to-top:hover i {
    color: #fff;
    bottom: 5px;
}
.footer{
    background-color: #000;
    color: #FFF;
    text-align: center;
    max-height: 200px;

}

@media screen and (max-width:375px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	#landingpage{
		background: url('../img/onese.jpg');
		background-attachment: fixed ;
    	background-repeat: no-repeat;
    	
    	height: 680px;
    	padding: 0px;
    	min-width: 100%;
	}
	
}