#contact{
  margin-top: -95px;
}
.modal-content{
  margin-top: 125px;
}
.carousel-control.left, .carousel-control.right {
  background-image:none !important;
  filter:none !important;
  margin-top: 40px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  line-height: 1;
  margin-top: 120px;
  height: 285px;
  width: 480px;
  margin-left: 195px
}
.carousel-inner {
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
  background: url('../img/prod.jpg');
  background-attachment: fixed ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-angle-left:before {
  content: "\f104";
  margin-top: 200px;
  margin-right: 40px;
  color: #59c5f0;
}
.slides{
  border-radius: 8px;
}
.icon-angle-right:before {
  content: "\f105";
  margin-top: 200px;
  margin-right: 40px;
  color: #59c5f0;
}
.carousel-caption{
 color: #ffff;
 margin-bottom: 0;
 margin-right: 100%;
 left:400px;
 font-size: 14px;
 font-weight: 100;
 position: fixed;
 letter-spacing:2px;
 padding-bottom: 0;
 padding-top:0;
 text-align: justify;
 margin-left: 342px;
 bottom: 5px;
 width: 415px;
 height:171px;
 font-family: Arial;
}
.carousels-caption_pinoypayroll{
   color: #ffff;
    margin-bottom: 0;
    margin-right: 100%;
    left: 400px;
    font-size: 14px;
    font-weight: 100;
    position: fixed;
    letter-spacing: 2px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    margin-left: 342px;
    bottom: 5px;
    width: 415px;
    height: 171px;
    font-family: Arial;

}
p.inside{
  margin:0;
}
a.tour{
  font-family: Arial;
  letter-spacing: 1.7px;
  text-shadow: none;
  color:#59c5f0;
  margin-left: 280px;
  font-weight: bold;
  font-size:15px;
}
a.tour:hover{
  font-weight:600;
}
a.tour:active{
  color:white;
}
.overlaysh {
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 925px;
}
.carousel-caption_bes{
 color: #ffff;
 margin-bottom: 0;
 margin-right: 100%;
 left:400px;
 font-size: 14px;
 font-weight: 100;
 position: fixed;
 letter-spacing:1.3px;
 padding-bottom: 0;
 padding-top:0;
 text-align: justify;
 margin-left: 342px;
 bottom: 12px;
 width: 415px;
 height:171px;
 font-family: Arial;
 text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption_txtsupport{
 color: #ffff;
 text-shadow: 0 1px 2px rgba(0,0,0,.6);
 margin-bottom: 0;
 margin-right: 100%;
 left:400px;
 font-size: 14px;
 font-weight: 100;
 position: fixed;
 letter-spacing:2px;
 padding-bottom: 0;
 padding-top:0;
 text-align: justify;
 margin-left: 340px;
 bottom: 5px;
 width: 415px;
 height:171px;
 font-family: Arial;
}
.carousels{
  color: #ffff;
  font-size: 43px;
  position: absolute;
  
}
.carousels_pinoypayroll{
  color: #ffff;
  font-size: 48px;
  position: absolute;
  bottom: 130px;
  left: 163px;
  font-family: Arial;
  font-weight: 700;
  letter-spacing: 1.5px;
  bottom: 105px;
}
span.five{
  color:#59c5f0;
  font-size: 70px;
  letter-spacing: 0;
  bottom: 276px;
  left: 736px;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.fives{
  color:#59c5f0;
  font-size: 70px;
  letter-spacing: 0;
  bottom: 245px;
  left: 735px;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.fivesh{
  color:#59c5f0;
  font-size: 70px;
  letter-spacing: 0;
  bottom: 287px;
  left: 736px;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.heffy2{
  color:#f9fafb;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  position: fixed;
  bottom: 174px;
  left: 740px;
}
span.txt{
  color:#59c5f0;
  font-size: 70px;
  letter-spacing: 0;
  bottom: 275px;
  left: 725px;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.support{
  color:#59c5f0;
  font-size: 50px;
  letter-spacing: 0;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
  bottom: 254px;
  left: 867px;
}
span.sms{
  color:#f9fafb;
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 700;
  position: fixed;
  bottom: 174px;
  left: 738px;
}
span.bes{
  color:#59c5f0;
  font-size: 70px;
  letter-spacing: 0;
  left: 736px;
  bottom: 199px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.bes2{
  color:#59c5f0;
  font-size: 50px;
  letter-spacing: 0;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
  left: 892px;
  bottom: 263px;
}
span.bes3{
  color:#f9fafb;
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 700;
  position: fixed;
  bottom: 184px;
  left: 740px;
}
span.cress1{
  color:#59c5f0;
  font-size: 70px;
  letter-spacing: 0;
  bottom: 288px;
  left: 735px;
  height: 15px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.cress1{
  color:#f9fafb;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  position: fixed;
  bottom: 215px;
  left: 742px;
 text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
span.cress2{
  color:#f9fafb;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  position: fixed;
  bottom: 158px;
  left: 743px;
 text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption_cress{
 color: #ffff;
 margin-bottom: 0;
 margin-right: 100%;
 left:400px;
 font-size: 14px;
 font-weight: 100;
 position: fixed;
 letter-spacing:2px;
 padding-bottom: 0;
 padding-top:0;
 text-align: justify;
 margin-left: 342px;
 bottom: 15px;
 width: 415px;
 height:143px;
 font-family: Arial;
}
span.six{
  color:#f9fafb;
  font-size: 21px;
  bottom: 250px;
  left: 840px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
}
span.seven{
  color:#f9fafb;
  font-size: 40px;
  bottom: 250px;
  left: 840px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
  letter-spacing: 5px;
}
span.sevens{
  color:#59c5f0;;
  font-size: 40px;
  bottom: 170px;
  left: 950px;
  font-family: Arial;
  font-weight: 700;
  position: fixed;
  letter-spacing: 3px;
}
.carousels-caption{
  color: #ffff;
  margin-bottom: 0;
  margin-right: 100%;
  left:483px;
  font-size: 12px;
  font-weight: 600;
  width: 251px;
 margin-left: 430px;
 position: fixed;
 bottom: 82px;
 letter-spacing: 1px;
 text-shadow: 0.1em 0.1em 0.2em #585757;
 text-align: justify;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 34%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -32%;
    text-align: center;
    list-style: none;
    margin-bottom: 90px;
}
#products{
  height:585px;
}