#service{
	padding-top: 0px;
	margin-top:0px;
	height: 640px;
	background-color:#f7f7f7;
}
#prod{
	background-color:#59c5f0;
}
.row{
	margin:0;
}
.whatwedo{
	float:right;
}
.container{
	position: relative;
}

img.laptop{
	margin-bottom: 0px;
    margin-left: 90px;
    height: 112px;
    width: 128px;
    margin-top:109px;
}
img.pen1{
	height: 108px;
    width: 106px;
    margin-bottom: 9px;
    margin-left: 35px;
    margin-top:32px;
}

.col-lg-4{
	padding-left: 0px;
    padding-right: 35px;
    text-align: justify;
}
.col-lg-5 {
	margin-top:10px;
	padding-top: 40px;
}
img.phone{
	margin-left: 0px;
    height: 115px;
    margin-top: 25px;
    margin-bottom: 5px;
 }
img.staff{
	margin-top:45px;
    margin-left: 35px;
    height: 115px;
    width: 120px;
}
img.tech{
	height: 98px;
    width: 115px;
    margin-bottom: 4px;
    margin-top: 53px;
}
p.head{
	margin-left: 39px;
    font-size: 80px;
    padding-top: 12px;
    color: black;
    float: left;
    font-family: Arial;
    font-weight: bold;
	margin-bottom: 0;
}
p.heads{
	margin-top: -156px;
    margin-left: 116px;
    font-size: 90px;
    padding-top: 100px;
    color: #59c5f0;
    float: left;
    font-weight: bold;
    margin-bottom: 0px;
    font-family:Arial;
    width:370px;

}
p.laptop1{
	margin-top: 125px;
	margin-bottom: 3px;
	font-weight: bold;

}
p.staff1{
	margin-top: 63px;
	font-weight: bold;
	margin-bottom: 3px;
}
p.tech1{
	margin-top: 63px;
	font-weight: bold;
	margin-bottom: 3px;
}
p.mobile1{
	margin-top:30px;
	font-weight: bold;
	margin-bottom: 3px;
}
p.pen2{
	padding-right: 32px;
    margin-top: 35px;
	font-weight: bold;
	margin-bottom: 3px;
}
p.pen3{
	text-align: justify;
	width:312px;
}
p.staff2{
	width:315px;
}