#service{
	padding-top: 0px;
	margin-top:0px;
	height: 780px;
	background-color:#59c5f0;
}
#prod{
	background-color:#59c5f0;
}
.row{
	margin:0;
}
.whatwedo{
	float:right;
}
.container{
	position: relative;
}
p.expa{
	font-size:12px;
	letter-spacing: 1px;
	text-align: center;
	color:black;
	margin-top: 5px;
}
p.a{
	font-size: 19px;
	text-align: center;
	color:black; 
	letter-spacing: 2px;
}
p.ab{
	font-size: 19px;
	text-align: center;
	color:black; 
	letter-spacing: 2px;
	margin-left: 122px;
}
p.abc{
	font-size: 19px;
	text-align: center;
	color:black; 
	margin-left: 36px;
	letter-spacing: 2px;
	width:354px;
}
p.expas{
	font-size:12px;
	letter-spacing: 1px;
	text-align: center;
	color:black;
	margin-top: 5px;
    margin-left: 135px;
}
p.expasi{
	font-size:12px;
	letter-spacing: 1px;
	text-align: center;
	color:black;
	margin-top: 5px;
	margin-left: 39px;
    width: 356px;
    padding-left: 0px;
}

img.laptop{
	margin-bottom: 15px;
    margin-left: 90px;
    height: 140px;
    width: 160px;
}
img.pen1{
	height: 136px;
    width: 135px;
    margin-bottom: 19px;
    margin-left: 120px;
}
img.phone{
	height: 135px;
    margin-bottom: 15px;
    margin-left: 108px;
 }
img.staff{
	margin-left: 250px;
    height: 150px;
    margin-top:45px;
}
img.tech{
	height: 130px;
    width: 150px;
    margin-left: 141px;
    margin-bottom: 4px;
    margin-top: 45px;
}
p.head{
	text-align: center;
	font-weight: 900;
	font-size: 43px;
	margin-top:67px;
	margin-bottom: 5%;
	letter-spacing: 3px;
	font-family: Arial;
}
