
#servic{
	padding-top: 50px;
	margin-bottom: 80px;
	background: rgba(0,0,0,0.5);
    margin-top:55px;
 }
.row{
	margin:0;
}
.whatwedo{
	float:right;
}
.container{
	position: relative;
}
p.expa{
	font-size:12px;
	letter-spacing: 2px;
	text-align: justify;
	color:black;
	padding-bottom: 10px;
}
span.a{
	font-size: 19px;
	text-align: justify;
	padding-bottom: 20px;
	color:black; 
}
img.laptop{
	height:359px;
	margin-bottom: 0px;
	position: absolute;
	padding-top: 40px;
	margin-top: 29px;
}
p.head{
	text-align: justify;
	font-weight: 300px;
	font-size: 26px;
}
img.scan{
	height: 206px;
    width: 59%;
	padding-top: 40px;
	position: absolute;
    margin-top: 71px;
    margin-left: 65px;
    padding-left: 49px;
    padding-bottom: 15px;
    padding-right: 40px;
}
