body{
	font-family: 'Raleway', sans-serif;
}

#landingpage{
	background: url('../img/onese.jpg');
	background-attachment: fixed ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    padding: 0px;
    width:99.9%;
}
#aboutus{
	height: 675px;
	padding: 0px;
}
.logo{
 	margin-left: 0;
 	height:70px;
 	 width:54%;
 }
.overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 680px;
    -webkit-box-shadow: 10px 10px 5px #888;
}
.navbar{
	border:0px;
	background-color: transparent;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    transition: background .35s ease;
    cursor: pointer;
    margin-left:0;
    padding-left: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.navbar-collapse{
	float: right;
}
.navbar.scrolled{
    background: #000000;
    background: rgba(0,0,0,.5);

}

.navbar-default .navbar-nav>li>a {
	font-family:  Montserrat, "Open Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3.5px;
	color: white;
}
.navbar-toggle .icon-bar{
  width:25px;
  height:5px;
}
.container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-nav>li>a:hover{
	color: skyblue;
	font-size: 20px;
	font-family: 'proxima-nova', monospace;
	letter-spacing: 1.5px;
	font-weight: 500;
}
.welcome-message{
	height: 150px;
    width: 500px;
    font-family: 'TimesNewRoman', sans-serif;
    color: #3199dc;
    margin-top: 1px;
    margin-left: 661px;
}
.welcome{
	font-weight: 300 !important;
   	font-size: 31px;
   	padding-left:23px;
	color:  white;
	letter-spacing: 7.5px;
	margin-top: 180px;
}
.testimonials{
	display: none;
	font-size: 35px;
}
.quotations{
	margin: 0px -313px 20px;
	width: 100px;
	font-size: 25px;
	letter-spacing:5.5px;
}

.nmg{
	font-size:90px;
	letter-spacing: 6.5px;
	font-weight: 900;
}
.exp{
	font-size: 25px;
	letter-spacing:5.5px;
}
.arrow-down{
	float: right;
	margin-top: 180px;
}
.hvr-icon-down{
	color: white;
}
.big {
	font-size: 70px;
	padding-top: 80px;
	color:black;
	float:left;
	font-family:;
	padding-bottom: 65px;
	font-weight: bold;
}
.small{
	padding-top:100px;
	padding-left: 30px;
	font-size:17px;
	text-align: justify;
	color:#5a5b5b;
	float:right;
	font-family: "PT Sans Narrow","Open Sans","Arial",sans-serif;
	font-weight: normal;
	padding-bottom: 3px;

}
.btnz{
background-color: #0099ff; 
	padding-bottom: 55px;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 16px;
    float:right;
}
#sais{
	display: none; /* Hidden by default */
    position: fixed;
}
#tres{
	background: url('../img/stroke3.jpg');
	text-align: center;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 0;
    opacity:0.9;
  }
#services{
	color:black;
	font-weight: bold;
	font-size: 50px;
	padding-top: 80px;
	margin-bottom: 20px;
	font-family: TimesNewRoman;
}

#two{
	padding-top: 5px;
	margin-top: 0px;
	height: 450px;
	width: 150%;
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 80px;
}
#three{
	padding-left: 0;
	margin-left: 0;
	padding-top: 50px;
	margin-top: 130px;
	height: 250px;
	width: 100%;
	margin-bottom: 80px;
}


.typewriter p {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em  #668aff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(30, end),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #668aff }
}

.col-lg-5{
	padding-left: 0;
	padding-right: 0;
}

#pen{
	height:180px;
	padding-top: 40px;
	object-position: center;
}
#monitoe{
	height:180px;
	padding-top: 40px;
	object-position: center;
}
#gallery{
	height:200px;
	padding-top: 40px;
	padding-bottom: 5px;
	object-position: center;
}
#pens{
	height:120px;
	padding-top: 20px;
	object-position: center;
	padding-left:108px;
	margin-left: 20px;
}
#monitoes{
	height:120px;
	padding-top: 20px;

	margin-left: 20px;
	padding-left:100px;

}
#gallerys{
	height:120px;
	padding-top: 20px;

	margin-left: 1px;


}
.row{
	margin:0;
}
#sinko{
	padding-bottom: 3%;
	padding-top: 3%;

}
h5{
	font-size:16px;
	font-family: Blippo;
	font-weight: bold;
	text-align: center;
}
h3{
	font-weight: bold;
	font-family: TimesNewRoman;
	text-align: center;
}
#contacts{
	font-size: 25px;
	text-align: center;
	font-weight:bold;
}
#hey{

	font-weight: bold;
	font-family: TimesNewRoman;
	margin-top: 0;
}


.dos{

	text-align: center;
	
}
#works{
	text-align: center;
	font-size: 50px;
	padding-top: 80px;
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: monospace;
}
.img-item{
    height:300px;
    }
.img-item img {
    max-width: 100%;
    height: 75%;
 
}
.no-padding{
    padding-left:5px;
    padding-right: 5px;
}
#kwatro{
	background:url('../img/capture.png');
	background-attachment: fixed;
	  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 0;
    background-opacity:0.9;
  
    width:98.9%;
}
.four{
padding: 2rem 0;
padding-bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: background .35s ease;
    cursor: pointer;
}
.container{
	padding-left:0;
}
h1{
	font-family: Impact, Charcoal, sans-serif;
	color:white;
	margin:0;
}
#contacte
{
	font-size:45px;
	color:white;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.col-lg-3
{
	width:24%;
	padding: 2rem 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: background .35s ease;
    cursor: pointer;
    margin-left:10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btnc{
 		background-color: transparent;
	padding-bottom: 5px;
    border: 0;
    color: white;
    padding: 10px 10px;
    margin-top: 1px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 12px;
 	border:1px solid white;
}
#general{
	font-size: 16px;
	padding-top: 2px;
	color:white;
	font-family: TimesNewRoman;
	margin-top: 20px;
	

}
/*input, select{
	background: white;
	box-shadow: #0099ff;
	color: black;
	width:80%;
	float:right;
	 border-radius: 10px;
    border: 2px solid black;
    padding: 20px; 
     height: 15px;  
     margin-bottom: 5px;  
}
 textarea{
 	 border-radius: 10px;
    border: 2px solid  black;
    height:190px;
    width:80%;
    padding:0 ;
    float:right;

 }*/

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}
 #adds{

 	height:13%;
 	margin:0;
 }
 footer{
 	text-align: center;
 	color:white;
 	background-color:#3884ff ;
 	padding-top: 20px;
 	padding-bottom: 20px;
 }
 .btna{
background-color: transparent; 
	padding-bottom: 55px;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 14px;
    float:right;
    border:2px solid white;
}

#ress{
	height:auto;
	margin:0;
	width:40%;
	padding-top: 50px;

}
@media screen and (max-width:375px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	#landingpage{
		background: url('../img/onese.jpg');
		background-attachment: fixed ;
    	background-repeat: no-repeat;
    	
    	height: 680px;
    	padding: 0px;
    	min-width: 100%;
	}
	
}